<!DOCTYPE html>
<html>
<head>
	<title>lab2</title>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
	<body>
	<!--
	{% for greeting in greetings %}
		{% if greeting.author %}
			<b>{{ greeting.author.nickname }}</b> wrote:
		{% else %}
			An anonymous person wrote:
		{% endif %}
	<blockquote>{{ greeting.content|escape }}</blockquote>
	{% endfor %}
	-->

	<p id='hi_m'>hi, {{user}}</p>
	
	<form action="/add_book" method="post">
		book_name= <input type="text" name="n_book_name">
		author= <input type="text" name="n_book_author">
		date= <input type="date" name="n_book_date">
		<input type="submit" value="add_book">
	</form>
	<form action="/delete_book" method="post">
		index= <input type="number" name=d_index>
		<input type="submit" value="delete">
	</form>
	<form action="/edit_book" method="post">
		index= <input type="number" name=e_index>
		<input type="submit" value="edit">
	</form>
	<!--<p>{{unicode_date}}={{edit_i}}</p>-->
	<p>library_list:</p>
	<table id='full_t'>
		<tr id='tible_t'><td>book_id</td><td>book_name</td><td>author</td><td>book_date</td><td>book_add_date</td></tr>
		{%for book in books %}
			{%if book.id_b == edit_i%}
				<form action="/edit_ok" method="post">
					<tr><td>{{book.id_b}}</td>
					<td>book_name= <input type="text" name="u_book_name" value="{{book.name_b}}"></td>
					<td>author= <input type="text" name="u_book_author" value="{{book.author_b}}"></td>
					<td>date= <input type="date" name="u_book_date" value="{{unicode_date}}"></td>
					<td><input type="submit" value="ok"></td>
					</tr>
				</form>
			{%else%}
				<tr><td>{{book.id_b}}</td><td>{{book.name_b}}</td><td>{{book.author_b}}</td><td>{{book.date_b}}</td><td>{{book.date_b_add}}</td></tr>
			{%endif%}
		{% endfor %}
	</table>
	<a href="{{ url }}">{{ url_linktext }}</a>
	</body>
</html>
